<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./home/css/style.css" />
    <!-- <script src="https://cdn.zingchart.com/zingchart.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="./home/js/getdata.js"></script>
    <script src="./home/js/radar.js"></script>

    <title>Interactive Dashboard</title>
  </head>
  <body style="background: #ebeff2;" onload="Default_Table()">
    <nav class="navbar navbar-light bg-light univesal-shadow">
      <div class="navbar-brand">
        <span>Radar</span>
      </div>
      <div class="navbar-content">
        <button class="btn">Radar View</button>
        <button class="btn">Quick Guide</button>
        <button class="btn">Feedback</button>
      </div>
    </nav>
    <div class="container-fluid universal_padding" style="padding: 30px;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div
              class="card univesal-shadow universal_border_radius"
              style="height: auto;"
            >
              <!-- <div id="Radar" class="chart--container"></div> -->
              <canvas id="Radar" class="chart--container"></canvas>
            </div>
          </div>
        </div>

        <!-- block of top 10 values -->
        <div class="row universal_padding" style="padding: 15px;">
          <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
          <div class="row" style="padding-left: 17px;">
            <h5 class="card-title">Top Ten Topics</h5>
          </div>
          <!-- </div> -->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row" id="cards"></div>
          </div>
        </div>

        <!-- table data -->
        <div class="row" style="padding: 20px;">
          <div
            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card universal_padding"
            style="height: auto; padding: 20px;"
          >
            <div class="row universal_padding">
              <div
                class="col-lg-12 col-md-12 col-sm-12 col-xs-12 universal_padding"
              >
                <form action="" method="POST">
                  <div>
                    <div>
                      <select
                        id="perpage"
                        name="Perpage"
                        onchange="SelectFilter(this)"
                      >
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </div>
                    <div>
                      <input
                        type="text"
                        list="drop"
                        class="form-regis"
                        id="myInput"
                        onInput="GetLocation(event)"
                        placeholder="Search"
                      />
                    </div>
                    <div class="drop-down"></div>
                  </div>
                </form>
                <div
                  class="table-responsive table-striped table-hover table-bordered"
                >
                  <table id="example" class="" style="padding: 0;">
                    <thead>
                      <th style="padding: 15px;">Title</th>
                      <th style="padding: 15px;">Topic</th>
                      <th style="padding: 15px;">Year</th>
                      <th style="padding: 15px;">Intensity</th>
                      <th style="padding: 15px;">Sector</th>
                      <th style="padding: 15px;">Region</th>
                      <th style="padding: 15px;">Pestle</th>
                    </thead>
                    <tbody id="table_body"></tbody>
                  </table>
                </div>
                <div id="remaining" class="my-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
